/* CSS HEX */
--french-gray: #AFB7BE;
--azul: #1C6FB6;
--alice-blue: #F1F6FA;
--davys-gray: #4F4F4F;
--white: #FFFFFF;
--eerie-black: #1A1A1A;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');