/* * {
    border: 2px solid red; */
/* } */
body {
    background-color: rgb(69, 222, 178);
}

#content {
    max-width: 1000px;
}

.nav_link {
    padding: 10px;
    color:rgb(25, 52, 67);
    font-size: 1.3em;
}

h1 {
    text-align: center;
    color: rgb(7, 35, 45);
}

main p {
    text-align: center;
    color: rgb(7, 35, 45);
    width: 60%;
    margin: 50px auto;
    background-color:rgb(9, 117, 78);
    padding: 30px;
    padding: bottom;
    border: 10px solid black;
    border-radius: 5px;
}

footer p {
    text-align: center;
    color: rgb(7, 35, 45);
    width: 40%;
    margin: 25px auto;
    background-color:rgb(9, 117, 78);
    padding: 20px;
    padding: bottom;
    border: 5px solid black;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: rgb(7, 35, 45);
}

nav a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
}

nav a:hover {
    color:blue;
    background-color: rgb(255, 0, 0);
}

img {
    display:block;
    margin: 0 auto;
    width: 30%;
    border: 5px solid black;
    border-radius: 500px;
}

header, footer {
    background-color: rgb(9, 117, 78);
    padding: 20px;
}

